aisd_lab_1_sorting/.idea/
aisd_lab_1_sorting/aisd_lab_1_sorting.iml
aisd_lab_3_hash_table/.idea/
aisd_lab_3_hash_table/aisd_lab_3_hash_table.iml
aisd_lab_4_hash_table_open_adressing/.idea/
aisd_lab5_rbt/.idea/
aisd_lab_7_huffman/.idea/